.main-navbar {
  height: 7.2rem;
  max-width: 100vw;
  box-shadow: rgba(4, 17, 29, 25%) 0px 0px 8px 0px;
  position: sticky;
  z-index: 1000;
  background-color: $primary-light;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  &__logo {
    max-width: 16rem;
    margin: 0 2rem;
  }

  &__item {
    padding: 0 2rem;
    font-weight: 600;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    color: rgba($color: $secondary-dark, $alpha: 0.85);

    &:hover {
      color: $secondary-dark;
    }
  }

  &__subnav {
    flex: 1;
  }

  &__hamburger-icon {
    display: none;
  }

  @media screen and (max-width: 1199px){
    &__right-section {
      flex: 1;
    }

    &__subnav {
      flex: unset;
    }
  }

  @media screen and (max-width: 991px){
    &__item:not(.main-navbar__item--logo-item) {
      display: none;
    }

    &__hamburger-icon {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 2rem;
    }
  }
}