$ps-breakpoint: 1000px;

.pilot-section {
  display: flex;
  flex-direction: row;
  text-align: left;

  @media screen and (max-width: $ps-breakpoint) {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  &__left {
    justify-content: space-between;
    margin-top: 12rem;

    @media screen and (max-width: $ps-breakpoint) {
      margin-top: 2rem;
    }
  }

  &__icon {
    margin-left: auto;
    cursor: pointer;
  }

  &__note {
    display: flex;
    align-items: center;
    margin-top: 2rem;

    @media screen and (max-width: $ps-breakpoint) {
      margin: auto;
      margin-top: 0;
    }
  }

  &__content {
    justify-content: center;

    @media screen and (max-width: $ps-breakpoint) {
      align-items: center;
      margin-bottom: 3rem;
    }
  }

  &__heading {
    font-size: $font-6;
    margin-left: 0;

    @media screen and (max-width: $ps-breakpoint) {
      font-size: $font-4;
      max-width: 45rem;
      margin: auto;
    }
  }

  &__subheading {
    @media screen and (max-width: $ps-breakpoint) {
      max-width: 60rem;
      margin: auto;
    }
  }

  &__right {
    margin-top: 4rem;
    flex-basis: 50%;
    box-shadow: rgba(4, 17, 29, 25%) 0px 0px 10px 0px;
    border-radius: 1rem;

    &:hover {
      transition: box-shadow 0.3s ease-in 0s;
      box-shadow: rgba(4, 17, 29, 25%) 0px 0px 50px 0px;
    }

    @media screen and (max-width: $ps-breakpoint) {
      margin-left: 0!important;
    }
  }

  &__img-container {
    & > a > img {
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      width: 100%;
    }
  }

  &__img-footer {
    padding: 2rem;

    align-items: center;
  }

  &__img {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
  }
  
  h1 {
    s {
      color: #666;
   
    }
  }
}
