// Font Styles
.bold {
  font-weight: 600;
}

.light {
  font-weight: 400;
}

// Font sizes
$font-1: 1.2rem;
$font-2: 1.4rem;
$font-3: 1.6rem; // 16px -> HTML Font size is 10px
$font-4: 2rem;
$font-5: 2.4rem;
$font-large: 4.5rem;


// Global font
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: $font-2;
}

$font-sizes: (
  "font-1" :$font-1,
  "font-2" :$font-2,
  "font-3" :$font-3,
  "font-4" :$font-4,
  "font-5" :$font-5,
  "font-large" :$font-large
);

@each $type, $size in $font-sizes {
  .#{$type} {
    font-size: $size;
  }
}